extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Anna Selezneva

        p.lead.text-light
          | About

        .portfolio-bio
          p
            | Hey. My name's Anna and I'm struggling to learn to code :) I am a teacher and I currently teach Russian and English. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li JavaScript
          li html
          li CSS
          li Node.js 
          li npm
        h6 Contact Info

        ul
          li +79811202020
          li ania.slz@mail.ru

        a.button.expanded(href='https://github.com/AniaSelezneva', target='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  